<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="centralizador">
    <p class="title">Soy Nasser Issa</p>
    <div class="flex flex-col items-center justify-center">
      <p class="font-bold mx-4">Estaré encantado de colaborar con ustedes. </p>
        <p class="font-bold text-blue-600 text-lg">Número:</p>
        <span class="font-normal text-black"> 829-805-8311</span>
        <p class="font-bold text-blue-600 text-lg">Correo:</p>
        <span class="font-normal text-black">nasseremil25@gmail.com </span>
        <p class="font-bold text-blue-600 text-lg">Matrícula:</p>
        <span class="font-normal text-black">2019-8015 </span>
    </div>
    <img src="../../assets/nasser.jpg" class="w-72 my-4 h-72 rounded-full" alt="img de nasser">
  </div>
</ion-content>