<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="centralizador">
    <p class="title">Caja de herramientas</p>
    <img class="w-44 h-44" src="https://www.chinalatinagent.com/upload/image/thumb/2_1000_1000_20201230TOOL-BOX-2.jpg" alt="">
  </div>
</ion-content>